body{
  font-family: sans-serif;
  font-size: 2px;
  font-weight: 200;
  padding: 0;
  margin:0;
  box-sizing: border-box;
  background-color: #66000000 ;
}
body *{
  box-sizing: border-box;
}
header{
  text-align: center;
  padding: 0px 0;
  background-color: #2eb872;
  color: #FFF;
}
.demo-section-box{
  width: 100%;
  border-top: hidden 0px #66000000;;
}
.section-container{
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  padding: 0px 0px;
  

}
.demo-box{
  margin: 20px 0;
}
.demo-align-right{
  text-align: right;
}
.demo-button{
  display: inline-block;
  padding: 7px 20px;
  background: #FFF;
  border:solid 1px #2eb872;
  border-radius: 3px;
  color: #2eb872;
  text-decoration: #eb2026;
}
.demo-button:hover{
  color: #000;
  background: #2eb872;
}
